<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bcleton.com.projetcleton">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.ScoresActivity" android:noHistory="true" />
        <activity android:noHistory="true" android:name=".Controller.CreateQuestionnaireActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:noHistory="true" android:name=".Controller.SelectQuestionnaireActivity" />
        <activity android:noHistory="true" android:name=".Controller.QuestionnaireActivity"></activity>
    </application>

</manifest>